*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*logo header*/

img{
    margin: 50px 37%;
    width: 400px;

}

h1{
    margin-left: 10%; 

}

#formulario{
    display: flex;
    flex-direction: column;
    
}

.form-group{
    display: flex;
    margin-left: 15%;

    margin-top: 15px;
}

.form-group input{
    padding: 0.3%;
}

.form-group input, textarea{
    width: 50%;
    margin-left: 20px;
    padding: 10px;
    resize: none;
}

/* alinhamento dos inputs e textarea */
.form-group input#form_nome{
    margin-left: 9.3%;
}

.form-group input#form_dataInicio{
    margin-left: 5.9%;
}

.form-group input#form_dataFim{
    margin-left: 6.1%;
}

.form-group input#form_duracao{
    margin-left: 3.2%;
}

.form-group textarea#form_desc{
    margin-left: 7.7%;
}

input#pesquisa_cursos{
    
    padding: 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 25px;

    font-size: 15px;
}

#button{
    margin: 1% 62.5%;
    width: 100px;
    height: 35px;

}
/* section lista de cursos*/
#pesquisa_cursos{
    margin: 1% 10%;
    
    width: 30%;
    padding: 0.5%;
  
}

#lupa{
    position: relative;
    right: 230px;
}

table{
    margin-top: 20px;
}